<div *ngIf="this.isAuthenticated" class="photo_logout">
  <div class="photo">
    <img class="photo_image" src="../assets/shah-rukh.jpg" alt="Profile photo">
    <div class="name_container">
      <p>Shahrukh Khan</p>
    </div>
  </div>
</div>
<div *ngIf="this.isAuthenticated" class="wishlist">
  <div class="wishlist_input">
    <div class="edit_slider">
      <mat-slide-toggle color="primary" [(ngModel)]="isEditEnabled">Edit</mat-slide-toggle>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="input_button">
      <button mat-raised-button (click)="addWish()">Add a wish</button>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
<div *ngIf="this.isAuthenticated"  class="whishlist_div">
  <mat-card class="wishitem" *ngFor="let wish of wishList">
    <a href={{wish.wishLink}} target="_blank">{{wish.wishName}}</a><br>
    {{wish.wishDescript}}
    <mat-card-actions *ngIf="isEditEnabled">
      <button mat-button (click)="editWish(wish.key, wish.wishName, wish.wishLink, wish.wishDescript)"><mat-icon>edit</mat-icon></button>
      <button mat-button (click)="deleteWish(wish.key)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
